@value largeBP from 'SharedStyles/globalStyles.module.css';

/**
 * Forum view styles
 */
.contentArea {
  display: flex;
  margin-top: 15px;
}

@media largeBP { 
  .contentArea{
    flex-flow: row nowrap; 
  }
}
.newDiscussionBtn {
  margin-top: 0px;
  font-size: 32px;
}

.errorMsg {
  margin-top: 20px;
  color: rgba(231, 76, 60,1.0);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
